*

!*/

!.gitignore

!*/net/minecraft/src/biomesoplenty/*
!*/net/minecraft/src/biomesoplenty/*/*
!*/net/minecraft/src/biomesoplenty/*/*/*

!BiomeGenBase.java
!BlockDirt.java
!MapGenVillage.java
!WorldProvider.java
!WorldType.java
